<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'app/img/icon.ico'%}">
    <title>Valkyrie - Dashboard</title>

    <!-- Bootstrap core CSS-->
    <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static 'app/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{% static 'app/vendor/datatables/dataTables.bootstrap4.css'%}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'app/css/sb-admin.css'%}" rel="stylesheet">

</head>
<style>
.bg-primary {
    background-color: #004085ed!important;
}

.bg-warning {
    background-color: #004085ed!important;
}
.bg-success {
    background-color: #004085ed!important;
}
.bg-danger {
    background-color: #004085ed!important;
}
</style>
<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="#">Valkyrie system</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-danger"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </div>
        </li>
    </ul>

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'index4' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'charts4' %}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>환율정보</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-clipboard"></i>
                <span>선하증권(B/L)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <a class="dropdown-item" href="{% url 'forms4_1' %}">B/L 작성</a>
                <a class="dropdown-item" href="{% url 'ing4_1' %}">B/L 관리</a>


            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-clipboard"></i>
                <span>인도지시서(D/O)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <a class="dropdown-item" href="{% url 'forms4_2' %}">D/O 작성</a>
                <a class="dropdown-item" href="{% url 'ing4_2' %}">D/O 관리</a>


            </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-clipboard"></i>
            <span>받은 문서</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
           <a class="dropdown-item" href="{% url 'srrecieved' %}">S/R 확인</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'calendar4' %}">
                <i class="fas fa-fw fa-calendar"></i>
                <span>일정 관리</span></a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-credit-card"></i>
                <span>자금 관리</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <a class="dropdown-item" href="">결제 내역</a>
                <a class="dropdown-item" href="">결제 하기</a>
                <a class="dropdown-item" href="">입금 하기</a>
                <a class="dropdown-item" href="">출금 하기</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-address-book"></i>
                <span>계약자 관리</span></a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <a class="dropdown-item" href="">수출자</a>
                <a class="dropdown-item" href="">은행</a>
                <a class="dropdown-item" href="">운송사</a>
                <a class="dropdown-item" href="">관세청</a>
            </div>
        </li>
    </ul>
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">운송사</li>
            </ol>
            <!-- Icon Cards-->
            <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100" >
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-edit"></i>
                  </div>
                  <div class="mr-5">입력</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-list"></i>
                  </div>
                  <div class="mr-5">입력</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-thumbs-up"></i>
                  </div>
                  <div class="mr-5">입력</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-credit-card"></i>
                  </div>
                  <div class="mr-5">입력</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>

        </div>
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-chart-area"></i>
                    환율 정보
                </div>

                <div class="container-fluid" style="margin:5px; margin-bottom:10px;">
                    <h1 class="my-4"></h1>

                    <div class="row">
                        <div class="col-lg-4 mb-4">

                            <div class="card h-100">

                                <h4 class="card-header">USD(달러)</h4>
                                <div class="card-body">
                                    <table class="card-text">
                                        <tr>
                                            <td>BasePrice :</td>
                                            <td>${{ basePrice1 }}</td>
                                        </tr>
                                        <tr>
                                            <td>SellingPrice :</td>
                                            <td>${{sellprice1}}</td>
                                        </tr>
                                        <tr>
                                            <td>BuyingPrice :</td>
                                            <td>${{buyprice1}}</td>
                                    </table>
                                </div>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">

                            <div class="card h-100">

                                <h4 class="card-header">JPY(엔)</h4>
                                <div class="card-body">
                                    <table class="card-text">
                                        <tr>
                                            <td>BasePrice :</td>
                                            <td>¥{{ basePrice2 }}</td>
                                        </tr>
                                        <tr>
                                            <td>SellingPrice :</td>
                                            <td>¥{{sellprice2}}</td>
                                        </tr>
                                        <tr>
                                            <td>BuyingPrice :</td>
                                            <td>¥{{buyprice2}}</td>
                                    </table>
                                </div>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">

                            <div class="card h-100">

                                <h4 class="card-header">CNY(위안)</h4>
                                <div class="card-body">
                                    <table class="card-text">
                                        <tr>
                                            <td>BasePrice :</td>
                                            <td>Y{{ basePrice3 }}</td>
                                        </tr>
                                        <tr>
                                            <td>SellingPrice :</td>
                                            <td>Y{{sellprice3}}</td>
                                        </tr>
                                        <tr>
                                            <td>BuyingPrice :</td>
                                            <td>Y{{buyprice3}}</td>
                                    </table>
                                </div>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'app/vendor/jquery/jquery.min.js'%}"></script>
<script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'app/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

<!-- Page level plugin JavaScript-->
<script src="{% static 'app/vendor/chart.js/Chart.min.js'%}"></script>
<script src="{% static 'app/vendor/datatables/jquery.dataTables.js'%}"></script>
<script src="{% static 'app/vendor/datatables/dataTables.bootstrap4.js'%}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'app/js/sb-admin.min.js'%}"></script>

<!-- Demo scripts for this page-->
<script src="{% static 'app/js/demo/datatables-demo.js'%}"></script>
<script src="{% static 'app/js/demo/chart-area-demo.js'%}"></script>


</body>

</html>
