<!DOCTYPE html>
{% load static %}
<html lang="en">

<!--<script src="https://apis.google.com/js/platform.js" async defer>-->
  <!--function onSignIn(googleUser) {-->
  <!--var profile = googleUser.getBasicProfile();-->
  <!--console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.-->
  <!--console.log('Name: ' + profile.getName());-->
  <!--console.log('Image URL: ' + profile.getImageUrl());-->
  <!--console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.-->
<!--}-->



<!--</script>-->
<!--<meta name = "google-signin-client_id"content = " 291743131584-mt4pdmfk57hp2u7k4t0bah2mb60pp58i.apps.googleusercontent.com ">-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'app/img/icon.ico'%}">
    <title>Valkyrie - login</title>

    <!-- Bootstrap core CSS-->
    <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static 'app/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{% static 'app/css/sb-admin.css'%}" rel="stylesheet">
  </head>
<style>
  .bg-dark{ background:white!important; }
  .btn-primary{ background:##004085!important; border-color:#007bff!important;}
   a{color:#007bffed}
    img {text-align:center; }
  .form-control:focus{border-color:#004085ed; }
  .custom-select:focus{border-color:#004085ed; }
  .custom-select{ -webkit-appearance:none;}

  @media (max-width:560px) {
    img.container-fluid {
      min-width:350px;
    }
  }

  @media (min-width:660px) {
    img.container-fluid {
      max-width:800px;
    }
  }
</style>
  <body class="bg-dark">
  <div style='text-align:right'>Ver. 1.0 </div>
  <div style="text-align:center;">
    <img class="container-fluid" src="{% static 'app/img/img3.png'%}">
    </div>
    <div class="container">
      <div class="card-login mx-auto mt-5">
          <form>
            <select class="custom-select" name="user_role" style="width:200px;height:45px;">
                <option  value="1" selected>수입자</option>
                <option  value="2">수출자</option>
                <option  value="3">은행</option>
                <option  value="4">운송사</option>
            </select>
            <div class="form-group">
              <div class="form-label-group">

              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
                <label for="inputEmail">Email address</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                <label for="inputPassword">Password</label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me">
                  Remember Password
                </label>
              </div>
            </div>
            <a id='login' class="btn btn-primary btn-block" href="{% url 'index' %}">Login</a>

              <div class="g-signin2" data-onsuccess="onSignIn"></div>
              {% csrf_token %}
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="{% url 'register' %}">Register an Account</a>
            <a class="d-block small" href="{% url 'forgot'%}">Forgot Password?</a>
          </div>
        </div>
      </div>


    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'app/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'app/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <script>
      $('#login').click(function() {
        $.ajax({
          url: '/app/',
          type: 'post',
          data: $('form').serialize(),
          success: function(res) {
            alert(res.result)
            if(res.result == 'success') {
              location = '/app/index'
            }
          }
        })
        return false
      })

    </script>
  </body>

</html>
